.container {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: #6181cc2b;
  z-index: 0;
}

.container__log {
  width: 240px;
}

.container__box {
  width: 396px;
  height: 298px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #fff;
}

.container__box--title {
  font-size: 18px;
  line-height: 22px;
  margin-top: 60px;
  padding: 20px;
}
.container__box--input {
  height: 22px;
  padding: 10px;
  margin-top: 20px;
  width: 85%;
}

.container__box--input:focus {
  outline: none;
}
.container__box--button {
  height: 45px;
  margin-top: 20px;
  background-color: #166fe5;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  width: 363px;
}
.container__box--button:focus {
  outline: none;
}
.container__box--titles {
  font-size: 12px;
}
.links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
}
